* {
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}


.body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.navbar{
    background: black; 
    opacity: 50%;
}

/*
label.logo{
    color:white;
    font-size:30px;
    padding-right:150px;
    line-height: 60px;
    font-weight: bold;
}
nav ul{
    float:right;
    padding-right: 50px;
    padding-left:70px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 0;
    padding-right:50px;
}
.link_2 {
    padding-right: 40px;
}
nav ul li a {
    color:white;
    font-size: 17px;
    text-transform:uppercase;
}
a.active, a:hover{
  background: #1b9bff;
  transition: .5s;
}
*/

.banner-area{
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position : center;
}

 .container{
  padding-top: 50px;
  padding-left: 100px;
}

.content-area{
    height: 80%;
    display:flex;
    justify-content:center;
    align-items:start;
}

.content{
    text-align:center;
    margin-bottom:20px;
}

.content h2 {
    font-size:60px;
    color :white;
    margin-bottom:20px;
}

.content p {
    font-size:20px;
    color:white;
}

.content button {
    margin-top:20px;
}


.all-container {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right:2rem;
  }
  
  .thumb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem ;
    margin: 1rem;
    border: 1px solid #efefef;
    border-radius: 0.2rem;
    width: 80%;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  }
  h3 {
    margin-bottom: 1.2rem;
  }
  .thumb-container .number {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: rgba(255,255,255,0.3);
  }
  .thumb-container img {
    width: 100px;
    height: 100px;
    justify-content: center;
  }
  .thumb-container small {
    text-transform: capitalize;
  }
  .detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .detail-wrapper button {
    color: rgb(22, 22, 22);
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.185);
  }

  @media (max-width:575px) {
    .input{
      width:80%
    }
  }